.Node ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.Node li {
    margin-bottom: 8px;
}

.Node .title {
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    height: 100%;
    background-color: #8ecae6;
    border-radius: 5px;
    border: .5px solid #8ecae6;
    padding: 0; 
    line-height: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    justify-content: space-between;
}
.Node .collapse-btn {
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    padding: 0;
}

.Handle {
 width: .25em;
 
}
